*.beam
*.tmproj 
*.#*
temp
cbin
ebin
.DS_Store
edoc-info
*.html
*.css
*.png
*.dump
TAGS
*.log
*.dump
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
Doxyfile
Makefile
install_manifest.txt
*.a